{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Password Reset Confirmation</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="vh-100 gradient-custom">
      <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-4 text-center">
                <div class="mb-md-4 mt-md-3 pb-4">
                  <h2 class="fw-bold mb-2 text-uppercase">Password Reset Confirmation</h2>
                  <p class="text-white-50 mb-4">
                    We have emailed you instructions for setting your password. If an account exists with this email, you will receive an email shortly.
                  </p>
                </div>

                <form method="post">
                  {% csrf_token %}
                  {{form.as_p}}
                  
                  <button class="btn btn-outline-light btn-lg px-5" type="submit"><a href="{% url 'logout_view' %}">Back to Login</a></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  <style>
    body {
      background-image: url("{% static "img/background_img.jpeg" %}");
      background-size: cover;
      background-position: center;
      height: 100vh;
    }

    .form-outline {
      position: relative;
    }
  </style>
</html>
